h1, p {
    text-align: center;
}

ul:hover, ol:hover {
    background-color: brown;
    list-style: none;
}

li:active {
    color: wheat;
    list-style: none;
    font-size: 20px ;
}

div:hover {
        border: 6px solid black;
        background-color: blue;
}

div:nth-of-type(1) {
    color: rgb(180, 96, 16);
}

div:nth-child(2) {
    color: red
}

div:nth-child(3) {
    color:green
}

div:nth-child(4) {
    color: rgb(255, 51, 0)
}

div:nth-child(5) {
    color:fuchsia
}

div:nth-of-type(1) > h3 {
    color: purple;
  }

div:nth-of-type(2) > h3 {
    color: rgb(119, 247, 119) 
  }

  div:nth-of-type(3) > h3 {
    font-size: 20px;
  }

  div:nth-of-type(4) > h3 {
    font-family: monospace;
  }

  div:nth-of-type(5) > h3 {
    font-style: italic
  }

  div:nth-of-type(3) {
    height: 100px;
  }

  div:nth-child(odd) h3 {
    font-style: italic
  }